<%- include('partials/header'); -%>
    <div class="container">
        <center>
            <img width=30% height=30% src="/images/success.gif" alt="" class="sucess-img">
            <h3 class="text-success">
                Successfully registered!!
            </h3>
            <p>Even is start on 26 August 2021</p>
        </center>
    </div>
    <%- include('partials/footer'); -%>