<%- include('partials/header'); -%>

    <div class="container">
        <h3 class="header">Learn coding for free with G-Learn</h3>
        <div class="para-content">
            <p class="text-muted">
                In this course we give you all coding resources, source, video-lectures, <br> zoom sessions and more. If you getting stuck or doubt you can chat with us or contact us. <br> Sign Up today!
            </p>
        </div>
        <div class="signup-buttons-div">
            <form action="/login">
                <button style="border-radius: 30px;" class="btn btn-primary sign_in">
                <b>Sing Up</b>
            </button>
            </form>
        </div>
    </div>

    <%- include('partials/footer'); -%>