<%- include('partials/header'); -%>
    <div class="container">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Enter your name" required>
            <br>
            <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
            <br>
            <form action="/courses">
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer'); -%>